In [2]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import seaborn as sns

In [3]:
lectura_attacks = pd.read_csv("attacks_modificado.csv", index_col = 0)
lectura_attacks.head()

,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,href
Case Number,,,,,,,,,,,,,
2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

EJERCICIO 1: Ayer creamos un par de gráficas para USA y España, donde visualizamos el número de ataques en cada país a lo largo de los años y el tipo de los ataques. Hoy tendréis que hacer dos gráficas con subplots:
 - En la primera debéis mostrar los tipos ataques en USA y España, cada subplot corresponderá a un país. Debéis:
    - Ponerle nombre a los ejes de cada uno de los subplots
    - Ponerle un títulos a cada uno de los subplots
    - Poner el color de las lineas en negro.
    - Establecer el tamaño de la gráfica a 15 x 5
    - Ponerle marcadores a las gráficas
    - No incluid leyenda

In [35]:
usa = lectura_attacks[(lectura_attacks['Country'] == 'USA')]
usa

,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,href
Case Number,,,,,,,,,,,,,
2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.05.27,7,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,NaN,"Lemon shark, 3'",http://sharkattackfile.net/spreadsheets/pdf_di...
2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1816.09.03.R,6116,1816.0,Unprovoked,USA,Rhode Island,Bristol Harbor,Swimming,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1810.09.15,6120,1810.0,Unprovoked,USA,South Carolina,Charleston,Fell into the water,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1806.04.24,6125,1896.0,Sea Disaster,USA,NaN,NaN,NaN,Crew of the schooner Mary,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1805.09.00,6126,1805.0,Invalid,USA,New York,"Sag Harbor, Suffolk County",NaN,NaN,M,NaN,NaN,Shark involvement prior to death unconfirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1803.05.17,6128,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [41]:
lectura_attacks_copia = lectura_attacks.copy()

filtro_usa_spain = lectura_attacks[(lectura_attacks['Country'] == 'USA') | (lectura_attacks['Country'] == 'SPAIN')]
tipo = lectura_attacks_copia['Type'].value_counts()
filtro_usa_spain.sample(20)
tipos = pd.DataFrame(tipo)
tipos

# plt.figure()

# plt.bar(filtro_usa_spain,tipo)

# plt.show()
# y2=[]
# for filtro in range(len(tipo)):
#     filtro2 = filtro_USA2[filtro_USA2['Type'] == tipo[filtro]]
#     y2.append(filtro2.shape[0])

# plt.bar(tipo, y2)
# plt.show()

              Type
Unprovoked    4438
Provoked       564
Invalid        537
Sea Disaster   232
Boating        203
Boat           133
Questionable     2
Boatomg          1

In [28]:
labels = lectura_attacks_copia['Type'].unique()
y1 = lectura_attacks[(lectura_attacks['Country'] == 'USA')].count() #ataques usa
y2 = lectura_attacks[(lectura_attacks['Country'] == 'SPAIN')] #ataques spain
y1
# x = np.arange(len(labels)) 
# width = 0.35  

# fig, ax = plt.subplots()
# rects1 = ax.bar(x - width/2, y1, width, label='Grupo A')
# rects2 = ax.bar(x + width/2, y2, width, label='Grupo B')

# ax.legend()

# fig.tight_layout()

# plt.show()

Unnamed: 0    2200
Year          2200
Type          2200
Country       2200
Area          2197
Location      2151
Activity      2069
Name          2171
Sex           2103
Age           1496
Time          1379
Species       1313
href          2200
dtype: int64